<div data-id="confirm-delete" class="confirm-delete-dialog">
    <p>
    {{'xi.confirmdialog.delete.are_you_sure'|trans}}
    </p>
    <button data-id="confirm" class="ajax-link">{{'xi.confirmdialog.delete.im_sure'|trans}}</button>
    <button data-id="cancel">{{'xi.confirmdialog.delete.cancel'|trans}}</button>
</div>